
@import "color-scheme";
@import "fonts";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $darkerblue;
    .ofi-footer_container {
        max-width: 1075px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 40px 0;
        background-color: $darkerblue;
        z-index: 5;
        .ofi-footer_col {
            max-width: 275px;
            h4 {
                font-size: 14px;
            }
            p.text-white {
                opacity: 0.5;
            }
            .ofi-tweet {
                display: flex;
                .fa-twitter {
                    padding: 5px 10px 0 0;
                }
            }
            .ofi-email {
                .ofi-input {
                    span {
                        position: absolute;
                        bottom: 12px;
                        padding: 0 10px;
                        z-index: 2;
                    }
                    input {
                        height: 43px;
                        width: 100%;
                        opacity: 0.15;
                        border-radius: 4px;
                        z-index: 1;
                    }
                    input:focus {
                        opacity: 1;
                        z-index: 3;
                    }
                }
            }
            .ofi-insta_photos {
                display: flex;
                flex-wrap: wrap;
                h4 {
                    margin-bottom: 5px
                }
                .insta-style {
                    background-position: center -10px;
                    background-repeat: no-repeat;
                    height: 70px;
                    width: 70px;
                    margin: 10px 10px 10px 0;
                    border-radius: 6px;
                }
                .ofi-insta_one {
                    background-image: url('../assets/images/footer/insta-one.png');
                }
                .ofi-insta_two {
                    background-image: url('../assets/images/footer/insta-two.png');
                }
                .ofi-insta_three {
                    background-image: url('../assets/images/footer/insta-three.png');
                }
                .ofi-insta_four {
                    background-image: url('../assets/images/footer/insta-four.png');
                }
            }
        }
    }
    .ofi-footer_menu {
        hr {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        .navbar-nav {
            max-width: 1050px;
            display: block;
            margin-left: auto;
            float: none;
        }
    }
}
