/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {
    .navbar-nav.ofi-flex_center {
        display: none;
    }
    .ofi-hero .ofi-hero_container .ofi-hero_header {
        height: 200px;
        display: flex;
        align-items: center;
    }
    .ofi-hero .ofi-hero_container .ofi-hero_header h1 {
        font-family: Montserrat;
        font-size: 40px;
    }
    .ofi-catalyst .ofi-catalyst_container .ofi-catalyst_col {
        max-width: 100%;
    }
    .ofi-catalyst .ofi-catalyst_container {
        display: block;
    }
    .ofi-project_hero {
        padding: 125px 0 100px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content {
        display: block;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex {
        flex-direction: column-reverse;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-video_gradient {
        margin-right: 0;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project {
        padding: 0 15px 15px 15px;
        max-width: 100%;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main p {
        margin-bottom: 10px;
    }
    .ofi-project_desc {
        padding: 0 0px 15px 0px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 0px 70px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-contribution_ref {
        min-height: 100%;
        width: 100%;
        margin-left: 0px;
        h1 {
            margin-top: 10px;
        }
        p {
            margin-top: 10px;
        }
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project .ofi-project_button {
        padding-left: 0px;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project .ofi-project_button .ofi-contribute_btn {
        margin: auto;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main .ofi-post_footer {
        display: flex;
        flex-direction: column;
    }
    footer .ofi-footer_container {
        display: block;
    }
    footer .ofi-footer_container .ofi-footer_col {
        max-width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .ofi-project_hero {
        padding: 175px 0 100px;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project {
        padding: 0 15px 15px 15px;
        max-width: 100%;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main .ofi-post_footer {
        display: flex;
        flex-direction: row;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main .ofi-post_footer .ofi-add_contributors .ofi-contributor_imgs {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-nav.ofi-flex_center {
        display: flex;
    }
    .ofi-hero .ofi-hero_container .ofi-hero_header h1 {
        font-family: Montserrat;
        font-size: 46px;
    }
    .ofi-catalyst .ofi-catalyst_container {
        max-width: 1075px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 20px 0;
    }
    .ofi-catalyst .ofi-catalyst_container .ofi-catalyst_col {
        max-width: 275px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content {
        display: flex;
    }
    .ofi-project_hero {
        padding: 200px 0 100px;
    }
    .ofi-project {
        padding: 0 15px 15px 15px;
    }
    .ofi-project_desc {
        padding: 0 0px 15px 15px;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex {
        flex-direction: column-reverse;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message {
        display: flex;
        flex-direction: row;
        min-height: 270px;
        padding: 25px 0 45px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main p {
        margin-bottom: 0px;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-contribution_ref {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 250px;
        width: 175px;
        margin-left: 15px;
        h1 {
            margin-top: 20px;
        }
        p {
            margin-top: 0px;
        }
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project .ofi-project_button {
        padding-left: 15px;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project .ofi-project_button .ofi-contribute_btn {
        margin: 0;
    }
    footer .ofi-footer_container {
        display: flex;
    }
    footer .ofi-footer_container .ofi-footer_col {
        max-width: 275px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ofi-hero .ofi-hero_container .ofi-hero_header {
        display: block;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-project {
        padding: 0 0px 15px 15px;
        max-width: 575px;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex {
        flex-direction: row;
    }
    .ofi-project_hero .ofi-project_herocontainer .ofi-project_heroflex .ofi-video_gradient  {
        margin-right: auto;
    }
    .ofi-project_feed .ofi-feed_container .ofi-feed_posts .ofi-post_content .ofi-message .ofi-post_main .ofi-post_footer .ofi-add_contributors .ofi-contributor_imgs {
        display: block;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {

}
