
@import "color-scheme";
@import "fonts";

.ofi-project_hero {
    padding: 200px 0 100px;
    .ofi-project_herocontainer {
        .ofi-project_heroflex {
            display: flex;
            justify-content: space-between;
            .ofi-video_gradient {
                margin-right: auto;
            }
            .ofi-project {
                padding: 0 0px 15px 15px;
                max-width: 575px;
                .ofi-project_user {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .ofi-project_userimg {
                        background-image: url('../assets/images/project-hero/user-pic.png');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 90px;
                        width: 90px;
                        border-radius: 45px;
                        margin: 0 15px 15px 15px;
                    }
                    .ofi-project_userinfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 90px;
                        h1 {
                            margin: 0;
                        }
                    }
                }
                .ofi-project_desc {
                    padding: 0 0px 15px 15px;
                }
                .ofi-project_button {
                    padding-left: 15px;
                    .ofi-contribute_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 52px;
                        width: 203px;
                        font-size: 18px;
                        background-color: $darkerblue;
                        border-radius: 26px;
                        box-shadow: 0 20px 40px 0 rgba(184,191,211,0.60);
                    }
                    .ofi-contribute_btn:hover {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
